<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de contraseña</title>
    <link rel="stylesheet" href="/plugin/css/form.css">
    <link rel="stylesheet" href="/plugin/css/bootstrap.min.css">
</head>
<body>
    <div class="form-container">
        <div class="form-header">Configuración de la cuenta</div>
        <form>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" required>
                </div>

                <div class="col-md-6 form-group">
                    <label class="form-label">Apellido</label>
                    <input type="text" class="form-control" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="form-label">Cédula</label>
                    <input type="text" class="form-control" disabled>
                </div>

                <div class="col-md-6 form-group">
                    <label class="form-label">Correo Eléctronico</label>
                    <input type="text" class="form-control" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" required>
                </div>

                <div class="col-md-6 form-group">
                    <label class="form-label">Contraseña</label>
                    <input type="password" class="form-control" placeholder="ingrese su contraseña" required>
                </div>
            </div>

            <div class="btn-container mt-4">
                <a href="/admin.html" type="button" class="btn btn-secondary">Regresar</a>
                <button type="submit" class="btn btn-success">Guardar Cambios</button>
            </div>

        </form>
    </div>
</body>
</html>