<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minaguas - perfil</title>
    <link rel="stylesheet" href="/plugin/css/form.css">
    <link rel="stylesheet" href="/plugin/css/bootstrap.min.css">
</head>
<body>
    <div class="form-container">
        <div class="form-header">Tus Datos</div>
        <form>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" disabled>
                </div>

                <div class="col-md-6 form-group">
                    <label class="form-label">Apellido</label>
                    <input type="text" class="form-control" disabled>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="form-label">Cédula</label>
                    <input type="text" class="form-control" disabled>
                </div>

                <div class="col-md-6 form-group">
                    <label class="form-label">Correo Eléctronico</label>
                    <input type="text" class="form-control" disabled>
                </div>
            </div>
            <div class="col">
                <div class="col-md-6 form-group">
                    <label class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" disabled>
                </div>
            </div>

            <div class="btn-container mt-4">
                <a href="/admin.html" type="button" class="btn btn-secondary">Regresar</a>
                <a href="/views/conf.html" type="submit" class="btn btn-success">Cambiar Datos</a>
            </div>

        </form>
    </div>
</body>
</html>